$color-white: #fff;
$color-black-light: #292929;
$color-black: #1b1b1b;

$yellow-light: #ece1c9;
$yellow-dark: #9f8c5c;

$bordo-light: #8f355a;
$bordo-medium: #5e2438;
$bordo-dark: #2c1316;

$orange-light: #f0ae54;
$orange-dark: #8b481e;
